div{
    width: 100px;
    height: 100px;
    color: beige;
    background-color: chocolate;
    border: 1px solid black;
}
.Dark{
 background-color: black;
 color: white;
}
.Light{
background-color: white;
color: black;
}